div {
 width: 400px;
 height: 100px;
 background: pink;

 border-radius: 100%;
 /*Arredonda as bordas de acordo com o que você quiser, se colocar 50% ou 100% ele arredondará e um fará um círculo*/

 transition: all 0.4s;
 /*Quando passar o mouse ele vai fazer uma transição em 4 segundos*/

 border: 4px solid rebeccapurple;

}

div:hover {
 border-radius: 0%;
 /*Quando eu passei o mouse ele mudou da forma circular para retangular*/
}